<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Web技術演習課題</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <form action="indicate.cgi" method="POST">
       下記に文字を入力してください<br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="送信" >
    </form>
    <% result = connection.exec("select weight, give_for from crops;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]} 売った相手：#{record["give_for"]}" %>
    <% end %>

    <% result1= connection.exec("SELECT * FROM crops WHERE NOT give_for = '自家消費';") %>
    <% data1= [] %>
    <% result1.each do |record1| %>
      <%  data1 << 
      " 重さ：#{record1["weight"]} 譲渡先：#{record1["give_for"]} }" %>
    <% end %>

    <% result_false = connection.exec("SELECT weight, give_for, quality from crops WHERE quality = false;") %>
    <% data_false = [] %>
    <% result_false.each do |record_false| %>
      <%  data_false << 
      "長さ：#{record_false["weight"]} 譲渡先：#{record_false["give_for"]} 品質：#{record_false["quality"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>


    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、譲渡先が自家消費ではないゴーヤのページに移動します<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya1" value="<%= data1.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
    
    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、品質が悪いゴーヤのページに移動します<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya_false" value="<%= data_false.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
